.container
  = simple_form_for @wot_replay,
    html: {multipart: true, class: 'form-inline'} do |form|
    = form.input :replay
    = form.button :submit, t('Upload', default: 'Upload')


%hr/
= link_to t('back'), :back
